<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page 2</title>
</head>
<body>
<h1>Perfil de usuario</h1>

<div>
    Client name: <span th:text="${clientName}"></span>
</div>
<div>
    User name: <span th:text="${userName}"></span>
</div>
<div>
    User data: <span th:text="${userAttributes}"></span>
</div>
<p/>

<!--If the user is logged in, show the logout button-->
<form method="post" th:action="/logout" th:if="${#authorization.expression('isAuthenticated()')}"
      class="navbar-form navbar-right">
    <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button id="logout-button" type="submit">Logout</button>
</form>

</body>
</html>